*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.App {
	background: linear-gradient(90deg, rgb(214, 53, 53), rgb(44, 82, 153) 60%);
	height: 100dvh;
	width: 100%;
}

.carousel {
	height: 100%;
	position: relative;
	width: 100%;
}

.card {
	inset: 0;
	margin: auto;
	object-fit: cover;
	position: absolute;
	height: 525px;
	width: 350px;
}

.card--inactive--left {
	opacity: 0.3;
	transform: translateX(-125%) scale(0.8);
	transition: 500ms;
}

.card--inactive--right {
	opacity: 0.3;
	transform: translateX(125%) scale(0.8);
	transition: 500ms;
}
